@charset "utf-8"
@import 'variable'


@import 'base'
@import 'state'
@import 'layout'

// moduleルール
// <基本>
//  再利用可能なパーツを定義する。
//  base, layoutを除いたほぼ全ての構成物。
//  吹き出し、サイドバーセクション、商品リストはその例。
// <命名規則>
//  プレフィックスを使って指定。
//  layoutやstateと違い、moduleはプロジェクトの大半を占めるので、
//  `module-`というプレフィックスを全てのmoduleにつけるわけにはいかない。
//  よって、moduleそのものの名前を付けるのが良い。
//  また、関連するmoduleにはmodule名をプレフィックスとして命名する
// (例) .example, .callout, .callout-messages, .field, .field-content

.upperCase
  text-transform: uppercase
.lowerCase
  text-transform: lowercase
.capitalize
  text-transform: capitalize

.text-warning
  color: $text-warning-color
.text-primary
  color: $text-primary-color
.text-accent
  color: $text-accent-color
.text-weak
  color: $text-weak-color


@import 'modules/badge'
@import 'modules/button'
@import 'modules/card'
@import 'modules/product-item'
@import 'modules/code-card'
@import 'modules/features'
@import 'modules/footer'
@import 'modules/hero'
@import 'modules/header'
@import 'modules/logo'
@import 'modules/search-form'
@import 'modules/sidebar-menu'
@import 'modules/text'
