// Colors:

$background-color: #131417

// declare your variables for color
$button-primary-color: #47cf73
$button-secondary-color: #444857
$button-warning-color: #ffdd40
$card-background-color: #2c303a
$text-accent-color: #0ebeff
$text-primary-color: #47cf73
$text-warning-color: #ffdd40
$text-weak-color: #b7bbc8

$badge-color: #ffdd40

// Break Points:

$screen-sm-min: 576px

// Small tablets (portrait view)
$screen-md-min: 768px

// Tablets and small desktops
$screen-lg-min: 992px

// Large tablets and desktops
$screen-xl-min: 1200px
