html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background: #131417; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

ul, li {
  list-style: none;
  padding-left: 0px; }

a:hover {
  cursor: pointer; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-flex-wrap {
  flex-wrap: wrap; }

.l-sidebar {
  min-width: 188px; }

.l-main {
  flex: 1; }

.l-header {
  display: flex;
  align-items: center; }

.l-section {
  margin: 32px 0; }

.upperCase {
  text-transform: uppercase; }

.lowerCase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.badge {
  background: #ffdd40;
  color: #000;
  border-radius: 4px;
  font-size: 10px;
  margin-left: 4px;
  padding: 2px 4px;
  font-weight: bold; }

.button {
  border-radius: 4px;
  text-align: center;
  padding: 8px 16px;
  border: 3px solid #aaaebc;
  display: inline-block; }
  .button:hover {
    cursor: pointer;
    opacity: .4; }

.button-warning {
  background: #ffdd40;
  border: 0; }

.button-primary {
  background: #47cf73;
  border: 0;
  color: #000; }

.button-accent {
  background: #0ebeff;
  border: 0; }

.button-secondary {
  background: #444857;
  border: 0; }

.hero {
  margin: 32; }

.hero-body {
  display: flex;
  flex-wrap: wrap; }

.hero-body-description {
  width: 50%;
  padding: 32px; }

.hero-logo {
  font-size: 36px; }

.hero-body-description-title {
  font-size: 3rem;
  font-weight: 900;
  margin: 0; }

.hero-body-description-text {
  font-size: 1.1rem; }

.hero-button {
  width: 200px;
  font-size: 1.4rem; }

.hero-body-image {
  width: 50%; }

.header-buttons {
  padding: 8px; }
  .header-buttons .button {
    margin-right: 8px;
    min-width: 100px; }

.search-form {
  background: #252830;
  width: 100%;
  margin: 8px;
  padding: 8px;
  border-radius: 4px; }
  .search-form i {
    font-size: 20px; }

.search-form-input {
  margin-left: 16px;
  width: 100%;
  background: #252830;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  outline: none; }

.sidebar {
  background-color: #1f1f26; }

.codepen-logo {
  text-align: center; }

.get-start-text {
  font-size: .8rem;
  text-align: center;
  margin: .2rem; }

.button-logo {
  margin: 0 16px;
  width: 154px;
  border: solid 3px transparent;
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  padding: 0; }

.button-logo-text {
  display: block;
  width: 100%;
  padding: 8px;
  background: #000; }

.sidebar-menu a {
  text-transform: capitalize;
  padding-left: 16px;
  display: block; }
  .sidebar-menu a:hover {
    background: #000; }

.sidebar-menu-list-items {
  margin-bottom: 16px; }

.sidebar-menu-list-items-heading {
  margin-bottom: .2rem;
  margin-left: 16px;
  font-size: .8rem; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0; }

.text-warning {
  color: #ffdd40; }

.text-primary {
  color: #47cf73; }

.text-accent {
  color: #0ebeff; }

.text-weak {
  color: #b7bbc8; }

.text-black {
  color: #000; }

.text-white {
  color: #fff; }

.text-bold {
  font-weight: bold; }
