.hero
  margin: 32
.hero-body
  display: flex
  flex-wrap: wrap
.hero-body-description
  width: 50%
  padding: 32px
.hero-logo
  font-size: 36px
.hero-body-description-title
  font-size: 3rem
  font-weight: 900
  margin: 0
.hero-body-description-text
  font-size: 1.1rem
.hero-button
  width: 200px
  font-size: 1.4rem
.hero-body-image
  width: 50%