// color
.text-warning
  color: $text-warning-color
.text-primary
  color: $text-primary-color
.text-accent
  color: $text-accent-color
.text-weak
  color: $text-weak-color
.text-black
  color: #000
.text-white
  color: #fff

// weight
.text-bold
  font-weight: bold